# ---------------------------
# Core
# ---------------------------
python-dotenv>=1.0.0
pandas>=2.0.0
numpy>=1.24.0
matplotlib >= 3.10.0

# ---------------------------
# Notebooks
# ---------------------------
jupyter>=1.0.0
ipykernel>=6.29.0

# ---------------------------
# Embeddings
# ---------------------------
sentence-transformers>=2.6.0
torch>=2.1.0

# ---------------------------
# Vector search
# ---------------------------
faiss-cpu>=1.7.4

# ---------------------------
# LLM (local via Ollama)
# ---------------------------
requests>=2.31.0

# ---------------------------
# App
# ---------------------------
streamlit>=1.30.0
